#contentPage{
    p
    {
        width: 90vw;
        max-width: $maxTablet;
        margin: auto;
        text-align: justify;
    }
    #CATTeam
    {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        max-width: $maxTablet;
        margin: auto;
    }
}
@media screen and (max-width: $maxPhone) {
    #CATTeam
    {
        flex-direction: column;
       a
       {
        margin:10px auto;
       }
    }
}


#teamContent 
    {
        background-color: $myGray;
        width: 100vw;
        .gridTeam
        {
            margin: auto;
            width: 90vw;
            max-width: 1000px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            .partner
            {
                display: flex;
                flex-direction: column;
                width: 200px;
                margin: 10px;
                img
                {
                    width: 150px;
                    max-width: 20vw;
                    margin: 20px auto;
                    display: block;
                }
                .first_name
                {
                    width: 100%;
                    text-align: center;
                    .family_name
                    {
                        text-transform: uppercase;
                    }
                }
                #job
                {
                    font-size: 14px;
                    width: 100%;
                    text-align: center;
                }
                .lkBttn
                {
                    position: static;
                    margin: 20px auto!important;
                    align-self: center;
                    justify-self: center;
                    padding: 5px 10px !important;
                    font-size: 1em !important;
                    background-color: #0e76a8 !important;
                    border-color: #0e76a8 !important;
                }
                .lkBttn:before
                {
                    font-family: "FontAwesome";
                    content:'\f0e1';
                }
            }
        }
    }