@import "archive-post";
@import "archive-job";
@import "archive-team";
@import "single-job";

#contentPage
{
    h1
    {
        text-align: center;
    }
    p
    {
        width: 90vw;
        max-width: $maxTablet;
        margin: auto;
        text-align: justify;
    }
    #texte
    {
        width: $maxTablet;
        display: block;
        margin: 20px auto;
        text-align: justify;
    }
}
