/*-----------------fix css elementor and wpform-----------------*/
strong, b
{
    font-weight: bold!important;
}

@media only screen and (max-width: 600px)
{
.wpforms-container-full .wpforms-form .wpforms-field 
    {
    overflow-x: hidden !important;
    }
}

.elementor-widget-text-editor .elementor-text-editor ul
{
    list-style: circle inside !important;
    //display: list-item !important;
}
