/*-----------------fix css elementor and wpform-----------------*/
strong, b
{
    font-weight: bold!important;
}

@media only screen and (max-width: 600px)
{
.wpforms-container-full .wpforms-form .wpforms-field 
    {
    overflow-x: hidden !important;
    }
}

.elementor-widget-text-editor .elementor-text-editor ul, .wp-editor-area ul
{
    display: block !important;
    list-style-type: disc !important;
    margin-top: 1em !important;
    margin-bottom: 1em!important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 40px !important;
}
