/*--------------------------------------------------------------
## Menus / header
--------------------------------------------------------------*/
header
{
    position: fixed;
    width: 100vw;
    top :0;
    height: 146px;
    background-color: #fff;
    z-index: 200;
} 

.site-content
    {
        padding-top:146px;
    }

#primary-menu li a, #primary-menu li a :visited
{
    font-family: 'muli', sans-serif;
    color : #707070;
    font-size: 22px;

}

.site-branding
{
    img {
        width: 320px;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 16px auto;
    }
    
}


#site-navigation{
    display: flex;
    justify-content: center;
  }



.burger-line {
position: absolute;
top: 22px;
right: 16px;
width: 35px;
height: 3px;
background-color: #000;
transition: .5s all
}

.second, .third {
top: 32px;
}

.fourth {
top: 42px;
}

.menu-toggle[aria-expanded="true"] > .first {
display: none;
}

.menu-toggle[aria-expanded="true"] > .second {
    transform: rotate(-45deg);

}

.menu-toggle[aria-expanded="true"] > .third {
    transform: rotate(45deg);

}

.menu-toggle[aria-expanded="true"] > .fourth {
display: none;
}

// .main-navigation {
// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;
// }

// .main-navigation ul {
// 	display: none;
// 	list-style: none;
// 	margin: 0;
// 	padding-left: 0;
// }

// .main-navigation ul ul {
// 	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 	float: left;
// 	position: absolute;
// 	top: 100%;
// 	left: -999em;
// 	z-index: 888888;
// }

// .main-navigation ul ul ul {
// 	left: -999em;
// 	top: 0;
// }

// .main-navigation ul ul li:hover > ul,
// .main-navigation ul ul li.focus > ul {
// 	left: 100%;
// }

// .main-navigation ul ul a {
// 	width: 200px;
// }

// .main-navigation ul li:hover > ul,
// .main-navigation ul li.focus > ul {
// 	left: auto;
// }



.main-navigation a {
	text-decoration: none;
}




/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

// @media screen and (min-width: $maxTablet) {
// 	.menu-toggle {
//         display: none;
// 	}
// 	.main-navigation ul {
//         display: block;
//     }
// }
.menu-toggle
    {
        border:none;
        height: 70px;
        width: 70px;
        outline: none;
        background-color: #fff;
    }

// .site-main .comment-navigation, .site-main
// .posts-navigation, .site-main
// .post-navigation {
// 	margin: 0 0 1.5em;
// 	overflow: hidden;
// }

// .comment-navigation .nav-previous,
// .posts-navigation .nav-previous,
// .post-navigation .nav-previous {
// 	float: left;
// 	width: 50%;
// }

// .comment-navigation .nav-next,
// .posts-navigation .nav-next,
// .post-navigation .nav-next {
// 	float: right;
// 	text-align: right;
// 	width: 50%;
// }



@media screen and (min-width: $maxTablet) {
    #primary-menu
    {
        width:$maxTablet;
        max-width: $maxWidthContent;
        display: inline-flex;
        justify-content: center;
        margin: 0 !important;

        li {
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-left:auto;
            margin-right: auto;
            a
            {
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
    .menu-toggle {
        display: none;
	}
	.main-navigation ul {
        display: block;
    }
}

@media screen and (max-width: $maxTablet) {
    #primary-menu
    {
        display: none;
        margin: 0 !important;
    }    
    header
    {
        height:70px;
    }
    .site-content
    {
        padding-top:70px;
    }

    .site-branding{
        img {
            width: 160px;
            margin-left: 16px;
            display: flex;
            justify-content: flex-start;
            z-index: 99999;
        }
    }
    #site-navigation, .menu-toggle{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        
    }

    #masthead .main-navigation.toggled
    {
        width: 100vw;
        height: 100vh;
        background: #fff;
        .menu-menu-1-container
        {
                #primary-menu
            {
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0;
                li 
                {
                   margin: 5vh auto;
                }
            }
        }
    }
    
}