
#particles-js
{
    height: 60vh;
    width: 100vw;
    color: $myGray;
    div
    {
        position: absolute;
        display: block;
        top : 25%;
        max-width: 60vw;
        margin-left: 15vw;
        z-index: 100;
        h1
        {
            
            font-size: 4vw;
            text-shadow: $shadow;
            text-align: left;
            font-family: $muli;
            color: $myGray;
        }
        a 
        {
            position: absolute;
            top : 100%;
            font-size: 2vw;
        }
    }
    canvas
    {
        background-color: $darkBlue;
        position: relative;
        //top:-60vh;
        //z-index: 1 !important;
    }
}

@media screen and (max-width: $maxTablet) 
{
    #particles-js div
    {
        margin-left:10vw;
        margin-right: 10vw;
        max-width: 80vw;
        h1
        {
            font-size: 40px;
            margin-left: auto;
            margin-right: auto;
            text-align: center !important;
        }
        
        a 
        {
            font-size: 20px;
        }
    }
}

.chart
{
    max-width: 200px;
    max-height: 200px;
}
