/*-----------------color-----------------*/

$darkBlue : #232741;
$green : #5DC976;
$myGray : #EFEFEF;
$twitterBlue :  #1DA1F2;
$myDarkGray :#707070;
$TomcoGray : #38373a;



$shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
$borderRadius : 3px;
.shadow
{
    box-shadow:$shadow;
}

.borderRadius
{
    border-radius:$borderRadius;
}


/*-----------------Fonts-----------------*/
$muli : 'muli', sans-serif;
$lora :'Lora', serif;

h1, a
{
    font-family: 'muli', sans-serif;
}

p,h2
{
   font-family: 'Lora', serif;
   color: $TomcoGray;
}

h2
{
    font-size: 52px;
    text-align: center;
    margin-bottom: 40px;
}


/*-----------------largeur max menu mobile-----------------*/

$maxTablet : 60em;
$maxPhone : 44em;

html {
    scroll-behavior: smooth;
  }


/*-----------------button-----------------*/

.Bttn
{
    text-decoration: none !important;
    background-color: $green!important;
    color: $myGray!important;
    opacity: 1!important;
    color: $myGray!important;
    text-align: center!important;
    padding : 10px 15px 15px 15px!important;
    border-radius: 3px!important;
    border-color: $green!important;
    box-shadow: $shadow!important;
    font-size: 2em !important;
    font-family: $muli ;
}
.blBttn
{
    background-color: $darkBlue!important;
    border-color: $darkBlue!important;
}
.grBttn
{
    background-color: $green!important;
    border-color: $green!important;
}


/*----------------Anchor-----------------*/
a.anchor {
    display: block;
    position: relative;
    top: -143px;
    visibility: hidden;
}

/*----------------FontAwesome-----------------*/
i
{
    font-family: FontAwesome !important;
    color : $myGray;
    text-decoration: none;
}