
#particles-js
{
    height: 60vh;
    width: 100vw;
    color: $myGray;
    background-image:url(assets/img/particleJS.png);
    background-color: $darkBlue;
    background-size: cover;
    .headerContent
    {
        position: absolute;
        display: block;
        top : 33%;
        max-width: 60vw;
        left: 15%;
        z-index: 100;
        h1
        {
            
            font-size: 4vw;
            text-shadow: $shadow;
            text-align: left;
            font-family: $muli;
            color: $myGray;
        }
        a 
        {
            position: absolute;
            top : 100%;
            font-size: 2vw;
        }
    }
    canvas
    {
        background-color: $darkBlue;
        position: relative;
        //top:-60vh;
        //z-index: 1 !important;
    }
}

@media screen and (max-width: $maxTablet) 
{
    #particles-js .headerContent
    {
        top:auto;
        left:auto;
        min-width: 100%;
        min-height: 60vh;
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows:  10% 40% 40% 10%;
        h1
        {
            grid-column: 2/3;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;
            max-width: 90vw;
            font-size: 40px;
            margin-left: auto;
            margin-right: auto;
            text-align: center !important;
        }
        
        .grBttn
        {
            position: static;
            top:auto;
            grid-column: 2/3;
            grid-row: 3/4;
            align-self: center;
            justify-self: center;
            font-size: 20px;
            margin-top: 0!important;
            margin-left: auto!important;
            margin-right: auto!important;
        }
    }
}

.chart
{
    max-width: 200px;
    max-height: 200px;
}
