/*-----------------color-----------------*/

$darkBlue : #232741;
$green : #5DC976;
$myGray : #EFEFEF;
$twitterBlue :  #1DA1F2;
$myDarkGray :#707070;
$TomcoGray : #38373a;

/*-----------------largeur max menu mobile-----------------*/

$maxTablet : 1000px;
$maxPhone : 720px;
$maxWidthContent : 85vw;
html {
    scroll-behavior: smooth;
  }


/*----------------shadow-----------------*/
$shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
$borderRadius : 3px;
.shadow
{
    box-shadow:$shadow;
}

.borderRadius
{
    border-radius:$borderRadius;
}


/*-----------------Fonts-----------------*/
$muli :'muli', sans-serif;
$lora :'muli', sans-serif;
// $lora :'Lora', serif;

a,p
{
    font-family: 'muli', sans-serif;
}

h2,h1
{
   font-family: $lora;
   color: $TomcoGray;
   text-align: center;
}

// h2
// {
//     font-size: 52px;
//     text-align: center;
//     margin-bottom: 40px;
// }

body {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: $myDarkGray;
  }
  
  h1, h2, h3, h4, h5 {
    margin: 0 0 1rem;
    font-weight: 400;
    line-height: 1.15;
  }
  
  h1 {
    margin: 0 0  2.5rem;
    font-size: 3.052em !important;
  }
  
h2 
{
    font-size: 2.441em!important;
    margin: 0 0  2.5rem;
}
  
  h3 {font-size: 1.953em!important;}
  
  h4 {font-size: 1.563em!important;}
  
  h5 {font-size: 1.25em!important;}
  
  small, .text_small {font-size: 0.8em!important;}

  @media screen and (max-width: $maxTablet) 
{
    h2,h1
    {
        margin: 0 0  1.5rem;
    }

}

  /*----------------FontAwesome-----------------*/
.FontAwesome
{
    font-family: FontAwesome !important;
    color : $myGray;
    text-decoration: none;
}


/*-----------------button-----------------*/

.Bttn
{
    text-decoration: none !important;
    background-color: $green!important;
    color: $myGray!important;
    opacity: 1!important;
    color: $myGray!important;
    text-align: center!important;
    padding : 10px 15px 15px 15px!important;
    border-radius: 3px!important;
    border-color: $green!important;
    box-shadow: $shadow!important;
    font-size: 1.25rem !important;
    font-family: $muli ;
    margin:30px auto 0 auto !important;
}
.blBttn
{
    background-color: $darkBlue!important;
    border-color: $darkBlue!important;
}
.grBttn
{
    background-color: $green!important;
    border-color: $green!important;
}


/*----------------Anchor-----------------*/
a.anchor {
    display: block;
    position: relative;
    top: -143px;
    visibility: hidden;
}

/*-----------------section-----------------*/
section:not(.noPadding)
{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

/*-----------------fix css elementor and wpform-----------------*/
strong
{
    font-weight: 800;
}

@media only screen and (max-width: 600px)
{
.wpforms-container-full .wpforms-form .wpforms-field 
    {
    overflow-x: hidden !important;
    }
}