h3.question
{
    text-align: left;
    font-size: 2em !important;
    margin: 2.5rem 0  2rem;
}

.question
{
    color: $darkBlue;
}

.answer
{
    padding: 2em;
}
.author
{
    font-weight: 800;
    color: $green;
}

.wp-editor-area
{
    h3.question
    {
        text-align: left;
        font-size: 2em !important;
        margin: 2.5rem 0  2rem;
    }

    .question
    {
        color: $darkBlue;
    }

    .answer
    {
        padding: 2em;
    }
    .author
    {
        font-weight: 800;
        color: $green;
    }
}