#singleJobContent
{
    margin : auto;
    width: 90vw;
    max-width: $maxTablet;
    h2
   {
       text-align: left;
       margin: 2rem 0 1rem;
   } 
    #contactBttn
    {
        display: flex;
        justify-content: center;
        align-items: center;
        a
        {
            align-self: center;
            margin:40px auto;

        }
    }
}
